@import 'themes/_current';
@import 'layout/container';
@import 'layout/spacer';
@import 'layout/aspect-ratio';
@import 'layout/keywords';
@import 'layout/navbar';
@import 'layout/bar';

@import 'animation/neon-light';
@import 'animation/wave';
@import 'animation/draw-in';
@import 'animation/toggle-colors';
@import 'animation/blast-apart';

html {

}


body {
    font-family: #{$font-body};

    margin: 0;
    background-repeat: repeat;
    background-attachment: local;

    background: $color-bg-primary; /* unsupported */
    background: -webkit-linear-gradient($color-bg-primary, $color-bg-secondary); /* safari */
    background: -o-linear-gradient($color-bg-primary, $color-bg-secondary); /* opera */
    background: -moz-linear-gradient($color-bg-primary, $color-bg-secondary); /* firefox */
    background: linear-gradient($color-bg-primary, $color-bg-secondary); /* regular */
}

#title-card {
    min-width: 350px;
}

#banner {
    text-align: center;
    min-width: 250px;
    & h1 {
    font-family: #{$font-title};
    font-size: 70px;
    font-size: calc(20px + 2vmin);
    color: $color-fg-secondary;
    text-shadow: 2px 2px $color-fg-secondary-darkest;
    }
}

#body {
    background: $color-fg-tertiary-lightest;
    bottom: 0px;
}
