@import 'themes/_current';
@import 'layout/keywords';
@import 'layout/container';
@import 'layout/spacer';
@import 'layout/aspect-ratio';
@import 'layout/navbar';
@import 'layout/bar';
@import 'layout/footer';
@import 'layout/columns';

@import 'animation/neon-light';
@import 'animation/wave';
@import 'animation/draw-in';
@import 'animation/toggle-colors';
@import 'animation/blast-apart';

html {
  height: 100%;
}


body {
    font-family: #{$font-body};
      margin: 0;
    background-repeat: repeat;
    background-attachment: local;

    background: $color-bg-primary; /* unsupported */
    background: -webkit-linear-gradient($color-bg-primary, $color-bg-secondary); /* safari */
    background: -o-linear-gradient($color-bg-primary, $color-bg-secondary); /* opera */
    background: -moz-linear-gradient($color-bg-primary, $color-bg-secondary); /* firefox */
    background: linear-gradient($color-bg-primary, $color-bg-secondary); /* regular */
}

#title-card {
  min-width: 250px;
}

#header {
  margin-bottom: 10%;
  text-align: center;
  height: 70%;	
  min-height: 1000px;
  min-width: 250px;
  & h1 {
    margin-top: 35%;
    font-family: #{$font-title};
    color: $color-fg-quatrenary-light;
    text-shadow: 2px 2px $color-fg-secondary-darkest;
  }
  & h3 {
    font-family: #{$font-subtitle};
    font-style: #{$font-style-subtitle};
    color: $color-fg-primary-lightest;
  }
  &.front-page {
    height: 40%;
    min-height: 600px;
    width: 90%;
    & h1 {
      font-style: #{$font-style-title};
      font-size: 70px;
      font-size: calc(35px + 5vmin);
    } 
    & h3 {
      font-size: 40px;
      font-size: calc(15px + 1vmin);
    }     
  }
  &.sub-page {
    height: 25%;
    min-height: 200px;
    width: 40%;
    & h1 {
      font-style: #{$font-style-title};
      font-size: 40px;
      font-size: calc(8px + 3vmin);
    }      
    & h3 {
      font-size: 30px;
      font-size: calc(5px + 1vmin);
    }      
  }
  &-background {
    overflow: hidden;
  }
}

#body {
  background: $color-fg-tertiary-lightest;
  bottom: 0px;
}
