body {
  margin: 0;
  background-repeat: repeat;
  background-attachment: local;
  background: #ffffff;
  /* unsupported */
  background: -webkit-linear-gradient(#97b6cc, #93b6cc);
  /* safari */
  background: -o-linear-gradient(#97b6cc, #93b6cc);
  /* opera */
  background: -moz-linear-gradient(#97b6cc, #93b6cc);
  /* firefox */
  background: linear-gradient(#97b6cc, #93b6cc);
  /* regular */ }

.spacer-2 {
  height: 200px; }

.spacer-4 {
  height: 400px; }

#banner {
  font-family: 'Archivo Black', sans-serif;
  font-size: 70px;
  color: #ED3024;
  text-shadow: 2px 2px #BE1E2D; }
