// Foreground colors

$color-fg-primary: #ED3024;	// Soup can red
$color-fg-secondary: #BE1E2D;   // Bloodshot red
$color-fg-tertiary: #495664;    // Steel blue

// Background colors

$color-bg-primary: #97b6cc;
$color-bg-secondary: #93b6cc;
