// Foreground colors

$color-fg-primary: #ffffff;	// 
$color-fg-secondary: #000000;   // 
$color-fg-tertiary: #f0f0f0;    // 

// Background colors

$color-bg-primary: #ffffff;     //
$color-bg-secondary: #000000;   //
