.container-1 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: $outer-margin;
    margin-right: $outer-margin;
    left: 0;
    right: 0;
}

.container-2 {
    padding: 20 50;
}

.container-3 {
    padding: 50 50;
    width: 80%;
    max-width: 1000px;
}
