.centered {
    margin: auto;
}

p {
    &.centered {
	text-align: center;
    }
}

.full-page {
    height: 100%;
}

.half-page {
    height: 50%;
}

.stack {
       height: 100%;
       width: 100%;
       position: relative;
}

.stack-object {
	      height: 100%;
	      width: 100%;
    position: absolute;
    top: 0;
}
