#nav-bar {
  width: 90%;
  height: 5%;
  min-height: 30px;
  position: fixed;
  z-index: 100;
  top: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: $color-fg-quinary-darker;
}

.nav-bar-item {
  padding: 10px 20px;
  margin: 0px 20px;
  display: inline-block;
  width: 5%;
  min-width: 20px;
  top: 0;
  bottom: 0;
  position: relative;
  border-style: solid;
  border-width: 5px;
  border-color: $color-fg-secondary;
  color: white;

  &-left {
    @extend .nav-bar-item;
    float: left;
  }
  &-right {
    @extend .nav-bar-item;
    float: right;
  }
  &-image-left {
    @extend .nav-bar-item-left;
    width: auto;
    max-width: 100px;
    border-style: none;
  }
  &-clickable {
    @extend .nav-bar-item;
    &:hover {
      border-color: $color-fg-secondary-light;
    }
    &:active {
      border-color: $color-fg-secondary-lighter;
    }
  }
}